<!DOCTYPE html>
<html>
	<title>Guestbook with Akka Scala</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style">

	<style type="text/css">
		[v-cloak] {
			display: none !important;
		}
		.v-toolbar__content {
			justify-content: center;
			text-align: center;
			font-size: 2em;
        }
        
		#footer {
			position: static;
			justify-content: center;
			font-size: 0.8em;
			color: #444;
		}
	</style>
</head>
<body>
	<div id="app">
		<v-app v-cloak>

			<v-app-bar
				app
				id="header"
				color="teal"
				dark>
				Akka Guestbook 
			</v-app-bar>

			<v-main v-if="initializing" class="text-center" style="margin-top: 40px">
				Loading..
			</v-main>

			<v-main v-else>

				<v-container>

                    <v-card>
                        <v-container>

                            <v-text-field
                                label="Your Name"
                                placeholder="Your name"
                                v-model="author"
                            ></v-text-field>

                            <v-textarea
                                solo
                                label="I would like to say that.."
                                v-model="content"
                                placeholder="What you would like to say.."
                            ></v-textarea>

                            <v-btn
                                block
                                elevation="2"
                                color="primary"
                                large
                                raised
                                :disabled="author.trim().length==0 || content.trim().length==0"
                                @click="submitRecord()"
                            >Post</v-btn>

                        </v-container>
                    </v-card>

				</v-container>

				<v-container>
                    <div>
                        * The contents will be here until the container reboots
                    </div>
				</v-container>

				<v-container>

					<v-card v-for="(record, i) in  displayRecords" :key="i">
						<v-container>

                            <v-card-title>
                                {{ record.author }}
                            </v-card-title>

                            <v-card-subtitle>
                                {{ record.created_at }}
                            </v-card-subtitle>

                            <v-card-text>
                                <div style="white-space: pre;">{{ record.content }}</div>
                            </v-card-text>

						</v-container>
                        
                    </v-card>
                    
				</v-container>

			</v-main>

			<v-footer id="footer" app>
				<a target="_blank" href="https://gitlab.com/spicydog/akka-scala-guestbook">
					Source Code
				</a>
			</v-footer>
		</v-app>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios@0.19.2/dist/axios.min.js"></script>
	<script>
		new Vue({
			el: '#app',
			vuetify: new Vuetify(),
			data: {
                initializing: true,
                records: [],
                author: "",
                content: "",
            },
            computed: {
                displayRecords() {
                    return this.records.sort((a, b) => (a.created_at < b.created_at) ? 1 : -1)
                }
            },
			methods: {
                fetchRecords() {
                    fetch('/guestbook')
                        .then(response => response.json())
                        .then(data => {
                            this.records = data;
                            this.initializing = false;
                        });
                },
                submitRecord(author, content) {
                    fetch('/guestbook', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({
                            author: this.author.trim(),
                            content: this.content.trim(),
                        })}
                    ).then(response => response.json())
                    .then(data => {
                        console.debug('Success:', data);
                        this.fetchRecords();
                        this.content = '';
                    })
                    .catch((error) => {
                        console.error('Error:', error);
                    })
                },
			},
			watch: {
			},
			mounted() {
                this.fetchRecords()
			},
		})
	</script>
</body>
</html>
